body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', 'Helvetica', sans-serif;
  background-color: #f4f4f4;
}

h1, h2 {
  margin: 12px 0;
  font-weight: 500;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
